
* {
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: large;
}

main {
    font-size: 200%;
    text-align: center;
}


footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding-top: 20px;
    font-variant: small-caps;
}